---
title: "About | Allegiance Mobile RV Repair"
description: "Learn more about Allegiance Mobile RV Repair on our About Us page. We provide expert, on-site RV repairs and maintenance with a commitment to quality service in Salem and Portland Oregon."
preloadImg: "/assets/images/banner.webp"
permalink: "about/"
eleventyNavigation:
  key: About Us
  order: 200
---

{% extends "layouts/base.html" %} {% block head %}
<link rel="stylesheet" href="/assets/css/about-us-sbs.css" />
<!-- <link rel="stylesheet" href="/assets/css/about.css" /> -->
{% endblock %} {% block body %} {% include 'components/banner.html' %} {%
include 'components/about-us-sbs.html' %} {% endblock %}
