/* PAGE-SPECIFIC STYLES FOR THE HOME PAGE */
/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbs-1161 {
    padding: var(--sectionPadding);
    /* clips grpahics from causing overflow issues */
    overflow: hidden;
    background-color: #f7f7f7;
  }
  #sbs-1161 .cs-container {
    width: 100%;
    /* changes to 1280px at desktop */
    max-width: 34.375rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #sbs-1161 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    max-width: 33.875rem;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #sbs-1161 .cs-text {
    margin-bottom: 1rem;
  }
  #sbs-1161 .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #sbs-1161 .cs-ul {
    max-width: 39.375rem;
    margin: 0 0 2rem 0;
    padding: 0;
    /* clips the bullets to create the half circle */
    overflow: hidden;
  }
  #sbs-1161 .cs-li {
    list-style: none;
    margin: 0 0 0.5rem 0;
    color: var(--bodyTextColor);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.75rem;
    position: relative;
  }
  #sbs-1161 .cs-li:before {
    /* bullet */
    content: "";
    width: 0.5rem;
    height: 0.5rem;
    margin-top: 0.5rem;
    background: var(--secondary);
    display: block;
    /* prevents flexbox from squishing it */
    flex: none;
  }
  #sbs-1161 .cs-button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: #fff;
    min-width: 9.375rem;
    padding: 0 1.5rem;
    background-color: var(--secondary);
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
  }
  #sbs-1161 .cs-button-solid:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    background: #000;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }
  #sbs-1161 .cs-button-solid:hover:before {
    width: 100%;
  }
  #sbs-1161 .cs-image-group {
    /* scales the whole group based on the view width size and stop when that vales equals .8em, resets at desktop */
    font-size: min(2.15vw, 0.8em);
    width: 42.375em;
    height: 36.75em;
    display: block;
    position: relative;
    z-index: 1;
  }
  #sbs-1161 .cs-picture {
    position: absolute;
  }
  #sbs-1161 .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  #sbs-1161 .cs-picture1 {
    width: 39.375em;
    height: 24.375em;
    top: 0;
    left: 0;
    z-index: 10;
  }
  #sbs-1161 .cs-picture2 {
    width: 28.8125em;
    height: 18.75em;
    bottom: 0;
    right: 0;
    z-index: 10;
  }
  #sbs-1161 .cs-graphic {
    height: auto;
    position: absolute;
  }
  #sbs-1161 .cs-graphic1 {
    width: 72.125em;
    top: 1.25em;
    right: -3.75em;
    transform: rotate(-15deg);
  }
  #sbs-1161 .cs-graphic2 {
    width: 67.8125em;
    top: 11.5625em;
    right: -1.5625em;
  }
  #sbs-1161 .cs-box {
    width: 12.3125em;
    height: 11.125em;
    padding: 0.5em;
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    background-color: var(--grayDark);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    z-index: 20;
    left: 0;
    bottom: 0;
  }
  #sbs-1161 .cs-number {
    /* 20px - 39px */
    font-size: clamp(1.25rem, 4vw, 2.4375rem);
    text-align: center;
    line-height: 1.2em;
    font-weight: 700;
    width: 100%;
    /* 4px - 8px */
    margin: 0 0 clamp(0.25rem, 1vw, 0.5rem);
    color: var(--bodyTextColorWhite);
    display: block;
  }
  #sbs-1161 .cs-desc {
    /* 12px - 16px */
    font-size: clamp(0.75rem, 1.9vw, 1rem);
    text-align: center;
    line-height: 1.2em;
    font-weight: 700;
    width: 100%;
    max-width: 12ch;
    margin: 0;
    color: var(--bodyTextColorWhite);
    display: block;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #sbs-1161 .cs-container {
    max-width: 80rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  #sbs-1161 .cs-image-group {
    font-size: min(1.2vw, 1em);
    flex: none;
  }
}
/*-- -------------------------- -->
<---           Logos            -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #logos-572 {
    /* 60px - 130px */
    padding: clamp(1.75rem, 8vw, 3.75rem) 1rem;
  }
  #logos-572 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #logos-572 .cs-logo {
    width: auto;
    max-width: 90%;
    height: auto;
    margin: 0;
    display: block;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #logos-572 .cs-logo {
    width: 20%;
    /* the max width becomes whatever the actual width of the image is */
    max-width: max-content;
    height: auto;
    display: block;
  }
}
/*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #reviews-1832 {
    padding: var(--sectionPadding);
    overflow: hidden;
    position: relative;
    z-index: 1;
  }
  #reviews-1832:before {
    /* gradient that softens the transition from the pattern to the edge of the section */
    content: "";
    width: 100%;
    height: 20%;
    background: linear-gradient(to bottom, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
    opacity: 1;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
  }
  #reviews-1832:after {
    /* gradient that softens the transition from the pattern to the edge of the section */
    content: "";
    width: 100%;
    height: 20%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%);
    opacity: 1;
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
  }
  #reviews-1832 .cs-container {
    width: 100%;
    /* changes to 1280px at tablet */
    max-width: 34.375rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
    position: relative;
    z-index: 1;
  }
  #reviews-1832 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #reviews-1832 .cs-title {
    max-width: 26ch;
    margin: 0;
  }
  #reviews-1832 .cs-flex-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }
  #reviews-1832 .cs-review-group {
    text-align: center;
    max-width: 53.75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
  }
  #reviews-1832 .cs-stars {
    width: 10.125rem;
    height: auto;
    margin: 0 0 1.5rem;
    display: block;
  }
  #reviews-1832 .cs-quote {
    /* 244px - 340px */
    width: clamp(15.25rem, 25vw, 21.25rem);
    height: auto;
    margin: 0 0 1.5rem 0;
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    z-index: -1;
    transform: translateX(-50%);
  }
  #reviews-1832 .cs-review-text {
    /* 25px - 39px */
    font-size: clamp(1rem, 3vw, 1.5625rem);
    line-height: 1.2em;
    font-weight: bold;
    text-align: inherit;
    margin: 0 0 2.5rem 0;
    color: var(--headerColor);
  }
  #reviews-1832 .cs-name {
    font-size: 1.25rem;
    line-height: 1.2em;
    text-align: inherit;
    font-weight: 700;
    margin: 0 0 0.25rem 0;
    color: var(--headerColor);
    display: block;
  }
  #reviews-1832 .cs-job {
    font-size: 1rem;
    line-height: 1.2em;
    text-align: inherit;
    margin: 0;
    color: var(--primary);
    display: block;
  }
  #reviews-1832 .cs-image-group {
    /* scales the whole section down and ties the font size to the vw and stops at 70% of the vale of 1em, changes at desktop */
    font-size: min(3.7vw, 1rem);
    /* everything inside this box is in ems so we can scale it all down proportionally with a font size */
    width: 23.25em;
    height: 22em;
    /* make a white shadow to fade over the texture background behind it so it hides the fact its a mask on top of the image */
    box-shadow: rgb(255, 255, 255) 0px -45px 90px 4px;
    position: relative;
    z-index: -1;
  }
  #reviews-1832 .cs-picture {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }
  #reviews-1832 .cs-picture img {
    width: 100%;
    height: 100%;
    /* makes it act like a background image */
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  #reviews-1832 .cs-mask {
    width: 101%;
    height: 101%;
    object-fit: cover;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
  }
  #reviews-1832 .cs-dark {
    display: none;
  }
  #reviews-1832 .cs-waves {
    width: 55vw;
    /* 400px - 566px */
    max-width: clamp(25rem, 40vw, 35.375rem);
    height: auto;
    opacity: 0.5;
    position: absolute;
    top: 0;
    /* 100px - 160px */
    right: calc(clamp(6.25rem, 17vw, 10rem) * -1);
    z-index: -1;
  }
  #reviews-1832 .cs-waves img {
    width: 100%;
  }
  #reviews-1832 .cs-background {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #reviews-1832 .cs-background img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.12;
    /* Makes img tag act as a background image */
    object-fit: cover;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #reviews-1832 .cs-container {
    max-width: 80rem;
  }
  #reviews-1832 .cs-flex-group {
    flex-direction: row;
    justify-content: space-between;
  }
  #reviews-1832 .cs-image-group {
    font-size: min(1.68vw, 1rem);
    /* prevents flexbox from squishing it */
    flex: none;
  }
  #reviews-1832 .cs-review-group {
    text-align: left;
    width: 65vw;
    align-items: flex-start;
  }
  #reviews-1832 .cs-quote {
    left: auto;
    right: 0;
    transform: none;
  }
}

/*# sourceMappingURL=local.css.map */
