---
title: "Mobile RV Repair, Salem Oregon | Allegiance Mobile RV Repair"
description: "Salem Oregon RV Repair. Allegiance Mobile RV Repair provides expert, on-site RV maintenance and repairs. We come to your location, offering convenient, reliable service to keep your RV road-ready."
preloadImg: "/assets/images/hero-image.webp"
permalink: "/"
tags: "sitemap" # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %} {% block head %}
<link rel="stylesheet" href="/assets/css/local.css" />
<link rel="stylesheet" href="/assets/css/critical.css" />
<link rel="stylesheet" href="/assets/css/about-us-sbs.css" />

<!-- Script for Netlify Identity -->
<script
  defer
  src="https://identity.netlify.com/v1/netlify-identity-widget.js"
></script>
<script defer>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", (user) => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>

<!-- JSON Schema Markup -->
<script type="application/ld+json">
  {
      "@context": "http://schema.org",
      "@type": "LocalBusiness",
      "name": "{{ client.name }}",
      {% if preloadImg %}"image": "{{ preloadImg }}",{% endif %}
      {% if client.phoneFormatted %}"telephone": "{{ client.phoneFormatted }}",{% endif %}
      {% if client.email %}"email": "{{ client.email }}",{% endif %}
      {% if client.address %}
          "address": {
              "@type": "PostalAddress"{% if client.address.lineOne %},
                  "streetAddress": "{{ client.address.lineOne }}{% if client.address.lineTwo %}, {{ client.address.lineTwo }}{% endif %}"
              {% endif %}
              {% if client.address.city %},
                  "addressLocality": "{{ client.address.city }}"
              {% endif %}
              {% if client.address.state %},
                  "addressRegion": "{{ client.address.state }}"
              {% endif %}
              {% if client.address.zip %},
                  "postalCode": "{{ client.address.zip }}"
              {% endif %}
              {% if client.address.country %},
                  "addressCountry": "{{ client.address.country }}"
              {% endif %}
          },
      {% endif %}
      {% if client.domain and page.url %}"url": "{{ client.domain }}{{ page.url }}",{% endif %}
      {% if client.socials %}
          "sameAs": [{% for platform, url in client.socials %}
                  {% if not loop.first %},{% endif %}
                  "{{ url }}"
              {% endfor %}]
      {% endif %}
  }
</script>
{% endblock %} {% block body %}

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-1061">
  <div class="cs-container">
    <div class="cs-content">
      <h1 class="cs-title">Oregon On-Site RV Repair Service</h1>
      <p class="cs-text">
        On-site RV repair servicing Oregon from Salem to Portland and beyond. We
        bring expert service right to your doorstep.
      </p>
      <a href="/contact/" class="cs-button-solid"
        >Schedule Service Appointment</a
      >
    </div>
    <ul class="cs-card-group">
      <li class="cs-item">
        <picture class="cs-icon-wrapper">
          <img
            class="cs-icon"
            loading="lazy"
            decoding="async"
            src="/assets/icons/water-heater.svg"
            alt="magnifying glass and gears"
            width="48"
            height="48"
          />
        </picture>
        <h2 class="cs-h3">Appliance Repairs</h2>
        <p class="cs-item-text">
          Expert on-site appliance repairs, including refrigerators, air
          conditioners, and water heaters, ensuring your RV stays fully
          functional.
        </p>
      </li>
      <li class="cs-item">
        <picture class="cs-icon-wrapper">
          <img
            class="cs-icon"
            loading="lazy"
            decoding="async"
            src="/assets/icons/maintenance.svg"
            alt="wrench and screwdriver"
            width="48"
            height="48"
          />
        </picture>
        <h2 class="cs-h3">Awning and Slide Repairs</h2>
        <p class="cs-item-text">
          Allegiance Mobile RV Repair offers on-site awning and slide-out
          repairs, ensuring smooth operation and protection for your RV's
          exterior
        </p>
      </li>
      <li class="cs-item">
        <picture class="cs-icon-wrapper">
          <img
            class="cs-icon"
            loading="lazy"
            decoding="async"
            src="/assets/icons/inspection.svg"
            alt="clipboard with magnifying glass"
            width="48"
            height="48"
          />
        </picture>
        <h2 class="cs-h3">Inspections</h2>
        <p class="cs-item-text">
          From thorough roof and pre-purchase assessments to RV appliance checks
          and post-purchase walk-thrus, we've got you covered.
        </p>
      </li>
      <li class="cs-item">
        <picture class="cs-icon-wrapper">
          <img
            class="cs-icon"
            loading="lazy"
            decoding="async"
            src="/assets/icons/calendar.svg"
            alt="car"
            width="48"
            height="48"
          />
        </picture>
        <h2 class="cs-h3">Annual Services</h2>
        <p class="cs-item-text">
          Ensure peak performance and longevity with our annual services,
          including winterization, AC and generator maintenance.
        </p>
      </li>
    </ul>
  </div>

  <!-- Background Image, there's a background image in the CSS for the parallax effect you'll need to change as well if you swap out our images -->
  <picture class="cs-background">
    <source
      media="(max-width: 600px)"
      srcset="/assets/images/hero-image-m.webp"
    />
    <source
      media="(min-width: 601px)"
      srcset="/assets/images/hero-image.webp"
    />
    <img
      decoding="async"
      src="/assets/images/hero-image.webp"
      alt="mechanic"
      width="2250"
      height="1500"
      aria-hidden="true"
    />
  </picture>
</section>

<!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

{% include 'components/about-us-sbs.html' %}

<!-- ============================================ -->
<!--                   Reviews                    -->
<!-- ============================================ -->

<section id="reviews-1670">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper">Testimonials</span>
      <h2 class="cs-title">Our Customer Reviews</h2>
    </div>
    <ul class="cs-card-group">
      <li class="cs-item">
        <div class="cs-flex-group">
          <span class="cs-name">
            Mick Williams
            <span class="cs-job">Google Reviews</span>
          </span>
        </div>
        <div class="wrapper">
          <img
            class="cs-item-stars"
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/yellow-stars.svg"
            alt="stars"
            width="96"
            height="16"
          />
          <p class="cs-review">
            This RV service was recommend to us by Brinkley RV for warranty
            service. The owner Pat, who had worked with Brinkley in the past,
            got us in under a tight schedule. He inspected our 5th wheel and
            received the parts in time to get us back on the road. We have
            worked with a lot of RV techs and Allegieance is at the top of our
            recommendations.
          </p>
        </div>
        <!--Quote Icon-->
        <img
          class="cs-quote"
          aria-hidden="true"
          src="/assets/icons/quote-small.svg"
          decoding="async"
          alt="quote icon"
          width="120"
          height="99"
        />
      </li>
      <li class="cs-item">
        <div class="cs-flex-group">
          <span class="cs-name">
            Kristen Wambach
            <span class="cs-job">Facebook Reviews</span>
          </span>
        </div>
        <div class="wrapper">
          <img
            class="cs-item-stars"
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/yellow-stars.svg"
            alt="stars"
            width="96"
            height="16"
          />
          <p class="cs-review">
            Pat and Michelle were wonderful. Prompt, thorough, and fixed ALL the
            water leaks on our "ole girl" tailer. The bill was reasonable for a
            mobile service, and Pat went the extra mile. I have already
            recommended them to my son. Thank you again for your help.
          </p>
        </div>
        <!--Quote Icon-->
        <img
          class="cs-quote"
          aria-hidden="true"
          src="/assets/icons/quote-small.svg"
          decoding="async"
          alt="quote icon"
          width="120"
          height="99"
        />
      </li>
    </ul>
  </div>
</section>

<!-- ============================================ -->
<!--                   Logos                      -->
<!-- ============================================ -->

<section id="logos-572">
  <div class="cs-container">
    <!--Ideally you want to use svg's for the file path image, which is why these aren't wrapped in picture elements for different screen sizes-->
    <img
      class="cs-logo"
      src="/assets/images/rvtaa_logo.webp"
      alt="logo"
      width="287"
      height="65"
      loading="lazy"
      decoding="async"
    />
    <img
      class="cs-logo"
      src="/assets/images/nrvta_logo.webp"
      alt="logo"
      width="229"
      height="55"
      loading="lazy"
      decoding="async"
    />
  </div>
</section>

{% include 'components/contact.html' %} {% endblock %}
