---
title: "Allegiance Mobile RV Repair | Salem, OR"
description: "Allegiance Mobile RV Repair provides expert, on-site RV maintenance and repairs. We come to your location, offering convenient, reliable service to keep your RV road-ready."
preloadImg: "/assets/images/hero-image.webp"
permalink: "/"
tags: "sitemap" # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %} {% block head %}
<link rel="stylesheet" href="/assets/css/local.css" />
<link rel="stylesheet" href="/assets/css/critical.css" />
<link rel="stylesheet" href="/assets/css/about-us-sbs.css" />

<!-- Script for Netlify Identity -->
<script
  defer
  src="https://identity.netlify.com/v1/netlify-identity-widget.js"
></script>
<script defer>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", (user) => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>

<!-- JSON Schema Markup -->
<script type="application/ld+json">
  {
      "@context": "http://schema.org",
      "@type": "LocalBusiness",
      "name": "{{ client.name }}",
      {% if preloadImg %}"image": "{{ preloadImg }}",{% endif %}
      {% if client.phoneFormatted %}"telephone": "{{ client.phoneFormatted }}",{% endif %}
      {% if client.email %}"email": "{{ client.email }}",{% endif %}
      {% if client.address %}
          "address": {
              "@type": "PostalAddress"{% if client.address.lineOne %},
                  "streetAddress": "{{ client.address.lineOne }}{% if client.address.lineTwo %}, {{ client.address.lineTwo }}{% endif %}"
              {% endif %}
              {% if client.address.city %},
                  "addressLocality": "{{ client.address.city }}"
              {% endif %}
              {% if client.address.state %},
                  "addressRegion": "{{ client.address.state }}"
              {% endif %}
              {% if client.address.zip %},
                  "postalCode": "{{ client.address.zip }}"
              {% endif %}
              {% if client.address.country %},
                  "addressCountry": "{{ client.address.country }}"
              {% endif %}
          },
      {% endif %}
      {% if client.domain and page.url %}"url": "{{ client.domain }}{{ page.url }}",{% endif %}
      {% if client.socials %}
          "sameAs": [{% for platform, url in client.socials %}
                  {% if not loop.first %},{% endif %}
                  "{{ url }}"
              {% endfor %}]
      {% endif %}
  }
</script>
{% endblock %} {% block body %}

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-1061">
  <div class="cs-container">
    <div class="cs-content">
      <h1 class="cs-title">Oregon On-Site RV Repair Service</h1>
      <p class="cs-text">
        Allegiance Mobile RV Repair offers hassle-free, on-site RV repairs,
        bringing expert service right to your doorstep
      </p>
      <a href="" class="cs-button-solid">Schedule Service Appointment</a>
    </div>
    <ul class="cs-card-group">
      <li class="cs-item">
        <picture class="cs-icon-wrapper">
          <img
            class="cs-icon"
            loading="lazy"
            decoding="async"
            src="/assets/icons/analytic.svg"
            alt="magnifying glass and gears"
            width="48"
            height="48"
          />
        </picture>
        <h2 class="cs-h3">Diagnostics</h2>
        <p class="cs-item-text">
          We will come out to diagnose the issue and educate you. We will give
          you a quote and will not proceed without your approval. We want you to
          be involved and informed.
        </p>
      </li>
      <li class="cs-item">
        <picture class="cs-icon-wrapper">
          <img
            class="cs-icon"
            loading="lazy"
            decoding="async"
            src="/assets/icons/maintenance.svg"
            alt="wrench and screwdriver"
            width="48"
            height="48"
          />
        </picture>
        <h2 class="cs-h3">Repairs</h2>
        <p class="cs-item-text">
          We specializing in fixing refrigerators, furnaces, generators, air
          conditioners, heat pumps, hot water heaters, slides, awnings, and
          more.
        </p>
      </li>
      <li class="cs-item">
        <picture class="cs-icon-wrapper">
          <img
            class="cs-icon"
            loading="lazy"
            decoding="async"
            src="/assets/icons/inspection.svg"
            alt="clipboard with magnifying glass"
            width="48"
            height="48"
          />
        </picture>
        <h2 class="cs-h3">Inspections</h2>
        <p class="cs-item-text">
          From thorough roof and pre-purchase assessments to RV appliance checks
          and post-purchase walk-thrus, we've got you covered.
        </p>
      </li>
      <li class="cs-item">
        <picture class="cs-icon-wrapper">
          <img
            class="cs-icon"
            loading="lazy"
            decoding="async"
            src="/assets/icons/calendar.svg"
            alt="car"
            width="48"
            height="48"
          />
        </picture>
        <h2 class="cs-h3">Annual Services</h2>
        <p class="cs-item-text">
          Ensure peak performance and longevity with our annual services,
          including winterization, AC and generator maintenance, and tank
          cleaning.
        </p>
      </li>
    </ul>
  </div>

  <!-- Background Image, there's a background image in the CSS for the parallax effect you'll need to change as well if you swap out our images -->
  <picture class="cs-background">
    <source
      media="(max-width: 600px)"
      srcset="/assets/images/hero-image-m.webp"
    />
    <source
      media="(min-width: 601px)"
      srcset="/assets/images/hero-image.webp"
    />
    <img
      decoding="async"
      src="/assets/images/hero-image.webp"
      alt="mechanic"
      width="2250"
      height="1500"
      aria-hidden="true"
    />
  </picture>
</section>

<!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

{% include 'components/about-us-sbs.html' %}

<!-- ============================================ -->
<!--                  Reviews                     -->
<!-- ============================================ -->

<section id="reviews-1832">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper">Reviews</span>
      <h2 class="cs-title">Our Customer's Testimonials</h2>
    </div>
    <div class="cs-flex-group">
      <div class="cs-image-group">
        <picture class="cs-picture">
          <!--Mobile Image-->
          <source
            media="(max-width: 600px)"
            srcset="/assets/images/review-splash.jpg"
          />
          <!--Tablet and above Image-->
          <source
            media="(min-width: 601px)"
            srcset="/assets/images/review-splash.jpg"
          />
          <img
            loading="lazy"
            decoding="async"
            src="/assets/images/review-splash.jpg"
            alt="person"
            width="570"
            height="680"
          />
        </picture>

        <!--White SVG Mask. Download the image and change the fill color to match the color of the section background below it-->
        <img
          class="cs-mask cs-light"
          loading="lazy"
          decoding="async"
          src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/white-paint-stroke.svg"
          alt="white splatter"
          width="700"
          height="666"
        />
        <!--This is a dark version. Download the image and change the fill color to match the color of the section background below it-->
        <img
          class="cs-mask cs-dark"
          loading="lazy"
          decoding="async"
          src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/dark-paint-stroke.svg"
          alt="white splatter"
          width="700"
          height="666"
        />
      </div>
      <div class="cs-review-group">
        <!--Stars-->
        <img
          class="cs-stars"
          loading="lazy"
          decoding="async"
          src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/stars-gym.svg"
          alt="quotes"
          width="97"
          height="80"
          aria-hidden="true"
        />
        <p class="cs-review-text">
          This RV service was recommend to us by Brinkley RV for warranty
          service. The owner Pat, who had worked with Brinkley in the past, got
          us in under a tight schedule. He inspected our 5th wheel and received
          the parts in time to get us back on the road. We have worked with a
          lot of RV techs and Allegieance is at the top of our recommendations.
        </p>
        <span class="cs-name">Mick</span>
        <span class="cs-job">Google Reviews</span>
        <!--Quote-->
        <img
          class="cs-quote"
          loading="lazy"
          decoding="async"
          src="/assets/icons/quote.svg"
          alt="quotes"
          width="97"
          height="80"
          aria-hidden="true"
        />
      </div>
    </div>
  </div>
  <!--Texture Graphic-->
</section>

<!-- ============================================ -->
<!--                   Logos                      -->
<!-- ============================================ -->

<section id="logos-572">
  <div class="cs-container">
    <!--Ideally you want to use svg's for the file path image, which is why these aren't wrapped in picture elements for different screen sizes-->
    <img
      class="cs-logo"
      src="/assets/images/rvtaa_logo.webp"
      alt="logo"
      width="287"
      height="65"
      loading="lazy"
      decoding="async"
    />
    <img
      class="cs-logo"
      src="/assets/images/nrvta_logo.webp"
      alt="logo"
      width="229"
      height="55"
      loading="lazy"
      decoding="async"
    />
  </div>
</section>

{% include 'components/contact.html' %} {% endblock %}
