/* PAGE-SPECIFIC STYLES FOR THE HOME PAGE */

/*-- -------------------------- -->
<---           Logos            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #logos-572 {
    /* 60px - 130px */
    padding: clamp(1.75rem, 8vw, 3.75rem) calc(16 / 16 * 1rem);
    // background-color: var(--secondaryLight);

    .cs-container {
      width: 100%;
      max-width: calc(1280 / 16 * 1rem);
      margin: auto;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
    }

    .cs-logo {
      width: auto;
      max-width: 90%;
      height: auto;
      margin: 0;
      display: block;
    }
  }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #logos-572 {
    .cs-container {
      //   justify-content: space-between;
    }

    .cs-logo {
      width: 20%;
      /* the max width becomes whatever the actual width of the image is */
      max-width: max-content;
      height: auto;
      display: block;
    }
  }
}

/*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #reviews-1832 {
    padding: var(--sectionPadding);
    overflow: hidden;
    position: relative;
    z-index: 1;

    &:before {
      /* gradient that softens the transition from the pattern to the edge of the section */
      content: "";
      width: 100%;
      height: 20%;
      background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 0) 100%
      );
      opacity: 1;
      position: absolute;
      display: block;
      top: 0;
      left: 0;
    }

    &:after {
      /* gradient that softens the transition from the pattern to the edge of the section */
      content: "";
      width: 100%;
      height: 20%;
      background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
      );
      opacity: 1;
      position: absolute;
      display: block;
      bottom: 0;
      left: 0;
    }

    .cs-container {
      width: 100%;
      /* changes to 1280px at tablet */
      max-width: calc(550 / 16 * 1rem);
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
      position: relative;
      z-index: 1;
    }

    .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: center;
      width: 100%;
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: center;
    }

    .cs-title {
      max-width: 26ch;
      margin: 0;
    }

    .cs-flex-group {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: calc(48 / 16 * 1rem);
    }

    .cs-review-group {
      text-align: center;
      max-width: calc(860 / 16 * 1rem);
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      z-index: 1;
    }

    .cs-stars {
      width: calc(162 / 16 * 1rem);
      height: auto;
      margin: 0 0 calc(24 / 16 * 1rem);
      display: block;
    }

    .cs-quote {
      /* 244px - 340px */
      width: clamp(15.25rem, 25vw, 21.25rem);
      height: auto;
      margin: 0 0 calc(24 / 16 * 1rem) 0;
      display: block;
      position: absolute;
      top: 0;
      left: 50%;
      z-index: -1;
      transform: translateX(-50%);
    }

    .cs-review-text {
      /* 25px - 39px */
      font-size: clamp(1rem, 3vw, 1.5625rem);
      line-height: 1.2em;
      font-weight: bold;
      text-align: inherit;
      margin: 0 0 calc(40 / 16 * 1rem) 0;
      color: var(--headerColor);
    }

    .cs-name {
      font-size: calc(20 / 16 * 1rem);
      line-height: 1.2em;
      text-align: inherit;
      font-weight: 700;
      margin: 0 0 calc(4 / 16 * 1rem) 0;
      color: var(--headerColor);
      display: block;
    }

    .cs-job {
      font-size: calc(16 / 16 * 1rem);
      line-height: 1.2em;
      text-align: inherit;
      margin: 0;
      color: var(--primary);
      display: block;
    }

    .cs-image-group {
      /* scales the whole section down and ties the font size to the vw and stops at 70% of the vale of 1em, changes at desktop */
      font-size: min(3.7vw, 1rem);
      /* everything inside this box is in ems so we can scale it all down proportionally with a font size */
      width: calc(372 / 16 * 1em);
      height: calc(352 / 16 * 1em);
      /* make a white shadow to fade over the texture background behind it so it hides the fact its a mask on top of the image */
      box-shadow: rgba(255, 255, 255, 1) 0px -45px 90px 4px;
      position: relative;
      z-index: -1;
    }

    .cs-picture {
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      top: 0;
      left: 0;

      img {
        width: 100%;
        height: 100%;
        /* makes it act like a background image */
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    .cs-mask {
      width: 101%;
      height: 101%;
      object-fit: cover;
      position: absolute;
      left: 50%;
      top: 50%;
      z-index: 1;
      transform: translate(-50%, -50%);
    }

    .cs-dark {
      display: none;
    }

    .cs-waves {
      width: 55vw;
      /* 400px - 566px */
      max-width: clamp(25rem, 40vw, 35.375rem);
      height: auto;
      opacity: 0.5;
      position: absolute;
      top: 0;
      /* 100px - 160px */
      right: calc(clamp(6.25rem, 17vw, 10rem) * -1);
      z-index: -1;

      img {
        width: 100%;
      }
    }

    .cs-background {
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;

      img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        opacity: 0.12;
        /* Makes img tag act as a background image */
        object-fit: cover;
      }
    }
  }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #reviews-1832 {
    .cs-container {
      max-width: calc(1280 / 16 * 1rem);
    }

    .cs-flex-group {
      flex-direction: row;
      justify-content: space-between;
    }

    .cs-image-group {
      font-size: min(1.68vw, 1rem);
      /* prevents flexbox from squishing it */
      flex: none;
    }

    .cs-review-group {
      text-align: left;
      width: 65vw;
      align-items: flex-start;
    }

    .cs-quote {
      left: auto;
      right: 0;
      transform: none;
    }
  }
}
